<html lang="en">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Proof of Concept Leaflet Plotting</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
	<script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
	<script src="{{ url_for('static', filename='leaflet-canvas-markers.js') }}"></script>
	<script src="{{ url_for('static', filename= 'chroma.js') }}"></script>





	<style> 
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
	</style>

		
</head>
<body>

<div>
	<button type="button"  id="ClearPoints">
		Clear Points
	</button>

	<button type="button" id="PlotPoints">
		Plot Points
	</button>

	<button type="button" id="PlotRelevantPoints">
		Plot Relevant Points
	</button>

	<button type="button" id="PlotDistricts">
		Plot Districts
	</button>

	<button type="button" id="PlotBars">
		Plot Bars
	</button>

	<input type="checkbox" id="ShotSpotterFilterCheck" name="ShotSpotterFilterCheck">
	<label for="ShotSpotterFilter"> Show Only ShotSpotter </label>
	<br>

	<input type="checkbox" id="PatrolFilterCheck" name="BusinessCheckFilterCheck">
	<label for="PatrolFilter"> Show Only Patrol </label>
	<br>

	<input type="checkbox" id="PDColorCheck" name="PDColorCheck">
	<label for="PDColorCheck"> Color By Police Districts </label>
	<br>
	
	<input type="checkbox" id="CallDensityColorCheck" name="CallDensityColorCheck">
	<label for="CallDensityColorCheck"> Color By Call Density </label>
	<br>

	
</div>

<table>
	<tr>
		<td><div id="map" style="width: 800px; height: 600px;"></div></td>
		<td><span id = "SelectedCallPrintout">Can click on marker to see calls at that location.</span></td>
	</tr>
</table>

</body>
</html>
